# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://rdrbtiakjfxgbaxnwkxz.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_OR_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJkcmJ0aWFramZ4Z2JheG53a3h6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgxNzQwMjMsImV4cCI6MjA3Mzc1MDAyM30.q13YBIMIzuWLc0rtd3UTl30i-sOe1CE50TcAk-aEgI8
