@import 'tailwindcss';

@theme {
  --color-qreen: #7bbd40;
  --color-qreen-dark: #3c772b;
  --color-qlack: #11160c;
  --color-qellow: #ebfe56;
  --color-qeal: #4ca79e;
  --color-qitrus: #f1b355;
  --color-qrose: #e27a96;
  --color-qaupe: #fcfaf0;

  --spacing-container: 5rem;
  
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1400px;
  --container-maxw: var(--breakpoint-xl);

  @keyframes appearText {
    from {
      opacity: 0;
      transform: translateY(1em);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes animatedCircle {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }

  @keyframes scalePulse {
    0% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1.1);
    }
  }

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shrinkGrow {
  0% {
    transform: scaleY(100%);

  }
  50% {
    transform: scaleY(80%);
  }
  100% {
    transform: scaleY(100%);
  }
}
@keyframes shrinkGrowExtreme {
  0% {
    transform: scaleY(100%);

  }
  50% {
    transform: scaleY(30%);
  }
  100% {
    transform: scaleY(100%);
  }
}

@keyframes collapsibleDown {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
}

@keyframes collapsibleUp {
  from {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

  --animate-appear-text: appearText 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  --animate-animated-circle: animatedCircle 15s linear infinite forwards;
  --animate-animated-circle-slow: animatedCircle 30s linear infinite forwards;
  --animate-animated-circle-backwards: animatedCircle 15s linear infinite reverse;
  --animate-animated-circle-backwards-slow: animatedCircle 30s linear infinite reverse;
  --animate-scale-pulse: scalePulse 1s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
  --animate-scale-pulse-slow: scalePulse 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
  --animate-scale-pulse-slower: scalePulse 2s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
  --animate-fade-in: fadeInAnimation 0.5s ease-in-out forwards;
  --animate-shrink-grow: shrinkGrow 10s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
  --animate-shrink-grow-1: shrinkGrowExtreme 0.6s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
  --animate-shrink-grow-2: shrinkGrowExtreme 0.7s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
  --animate-shrink-grow-3: shrinkGrowExtreme 0.8s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
  --animate-shrink-grow-4: shrinkGrowExtreme 0.9s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
  --animate-shrink-grow-5: shrinkGrowExtreme 1s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
  --animate-shrink-grow-6: shrinkGrowExtreme 1.1s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
  --animate-shrink-grow-7: shrinkGrowExtreme 1.2s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
  --animate-shrink-grow-8: shrinkGrowExtreme 1.3s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
  --animate-shrink-grow-9: shrinkGrowExtreme 1.4s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
  --animate-shrink-grow-10: shrinkGrowExtreme 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
  --animate-shrink-grow-11: shrinkGrowExtreme 0.65s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
  --animate-collapsible-down: collapsibleDown 0.2s ease-out forwards;
  --animate-collapsible-up: collapsibleUp 0.2s ease-out forwards;
}

html {
  --mouseXdelta: 0;
  --mouseYdelta: 0;
  scroll-padding-top: 120px;
  @apply text-qlack bg-qaupe;
  /* font-size: clamp(10px, 1.11vw, 160px); */
  /* scroll-behavior: smooth; */
}
@media (max-width: 768px) {
  /* html {
    font-size: clamp(10px, 4.1vw, 160px);
  } */
  :root {
    --spacing-container: 1.5rem;
  }
}
@layer utilities {
  .animate-shrink-grow {
    animation: var(--animate-shrink-grow);
  }
  .animate-shrink-grow-1 {
    animation: var(--animate-shrink-grow-1);
  }
  .animate-shrink-grow-2 {
    animation: var(--animate-shrink-grow-2);
  }
  .animate-shrink-grow-3 {
    animation: var(--animate-shrink-grow-3);
  }
  .animate-shrink-grow-4 {
    animation: var(--animate-shrink-grow-4);
  }
  .animate-shrink-grow-5 {
    animation: var(--animate-shrink-grow-5);
  }
  .animate-shrink-grow-6 {
    animation: var(--animate-shrink-grow-6);
  }
  .animate-shrink-grow-7 {
    animation: var(--animate-shrink-grow-7);
  }
  .animate-shrink-grow-8 {
    animation: var(--animate-shrink-grow-8);
  }
  .animate-shrink-grow-9 {
    animation: var(--animate-shrink-grow-9);
  }
  .animate-shrink-grow-10 {
    animation: var(--animate-shrink-grow-10);
  }
  .animate-shrink-grow-11 {
    animation: var(--animate-shrink-grow-11);
  }
  .animate-collapsible-down {
    animation: var(--animate-collapsible-down);
  }
  .animate-collapsible-up {
    animation: var(--animate-collapsible-up);
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  /* Show scrollbar track and thumb always */
  .force-scrollbar {
    scrollbar-width: auto; /* Firefox */
    scrollbar-color: auto;
  
    /* For WebKit browsers */
    &::-webkit-scrollbar {
      display: block;
      width: 8px;
      height: 8px;
    }
  
    &::-webkit-scrollbar-track {
      background: var(--color-qaupe);
      border-radius: 9999px;
    }
  
    &::-webkit-scrollbar-thumb {
      background: var(--color-qreen-dark);
      border-radius: 9999px;
      width: 4px;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background: var(--color-qreen);
    }
  }
}


.ProseMirror {
  &:focus {
    @apply outline-hidden;
  }
  & h2 {
    @apply text-2xl font-bold my-4;
  }
  & h3 {
    @apply text-xl font-bold my-3;
  }
  & p {
    @apply my-2;
  }
}

p a {
  @apply underline;
}

hr {
  @apply my-6 h-1 border-0;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 4' preserveAspectRatio='none'%3E%3Cline x1='0' y1='2' x2='4' y2='2' stroke='%2311160c' stroke-width='2' stroke-dasharray='4 4'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: 8px 1px;
}

/* Form Global Defaults */
.form {
  & label {
    @apply mb-2 text-sm;
  }
  & label > p {
    @apply mb-1 text-sm text-qlack font-semibold;
  }
  & label > p:last-child:not(:first-child) {
    @apply mb-1 text-sm text-qlack font-normal italic;
  }
  & input[type="text"], 
  & input[type="email"], 
  & input[type="number"], 
  & input[type="date"], 
  & input[type="tel"], 
  & input[type="url"], 
  & input[type="password"], 
  & select,
  & textarea {
    @apply bg-white/80 border border-qreen/30 text-qreen-dark rounded-lg text-[16px] md:text-xl; 
    @apply disabled:opacity-50 disabled:cursor-not-allowed w-full p-4 px-5 placeholder:text-qlack/30 focus:shadow-lg focus:outline-hidden transition-all;
  }
  & input[type="checkbox"] {
    @apply w-4 h-4;
    
    &:checked {
      @apply bg-white border-transparent;
    }
  }
  & select {
    @apply appearance-none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
  }
}

.prose {
  & > *:first-child, 
  & > *:first-child > .h1size, 
  & > *:first-child > .h2size, 
  & > *:first-child > .h3size, 
  & > *:first-child > .h4size, 
  & > *:first-child > .h5size, 
  & > *:first-child > .tag {
    @apply mt-0;
  }
  & > *:last-child, 
  & > *:last-child > .h1size, 
  & > *:last-child > .h2size, 
  & > *:last-child > .h3size, 
  & > *:last-child > .h4size, 
  & > *:last-child > .h5size, 
  & > *:last-child > .tag {
    @apply mb-0;
  }
  & h1:has(>.h1size), & h1:has(>.h2size), & h1:has(>.h3size), & h1:has(>.h4size), & h1:has(>.h5size), & h1:has(>.tag),
  & h2:has(>.h1size), & h2:has(>.h2size), & h2:has(>.h3size), & h2:has(>.h4size), & h2:has(>.h5size), & h2:has(>.tag),
  & h3:has(>.h1size), & h3:has(>.h2size), & h3:has(>.h3size), & h3:has(>.h4size), & h3:has(>.h5size), & h3:has(>.tag),
  & h4:has(>.h1size), & h4:has(>.h2size), & h4:has(>.h3size), & h4:has(>.h4size), & h4:has(>.h5size), & h4:has(>.tag),
  & h5:has(>.h1size), & h5:has(>.h2size), & h5:has(>.h3size), & h5:has(>.h4size), & h5:has(>.h5size), & h5:has(>.tag) {
    @apply my-0;
  } 
  & h1, & h2, & h3, & h4, & h5 {
    &:has(>.h1size), &:has(>.h2size), &:has(>.h3size), &:has(>.h4size), &:has(>.h5size), &:has(>.tag) {
      & + * {
        @apply mt-0;
      }
    }
  }
  & .h1size {
    @apply block text-6xl md:text-[6.25rem] my-7.5 leading-none tracking-[-0.07125rem];
    
    @media (max-width: 768px) {
      @apply text-5xl hyphens-auto;
    }
  }
  & h1, & .h2size {
    @apply block text-6xl md:text-[3.75rem] my-7.5 leading-none tracking-[-0.07125rem];
    
    @media (max-width: 768px) {
      @apply text-5xl hyphens-auto;
    }
  }
  & h2, & .h3size {
    @apply block text-4xl md:text-[2.375rem] my-7.5 leading-none tracking-[-0.07125rem];
    @media (max-width: 768px) {
      @apply hyphens-auto;
    }
  }
  & h3, & .h4size {
    @apply block text-3xl md:text-[2.375rem] my-7.5 leading-[1.15] tracking-[-0.035rem];
  }
  & h4, & .h5size {
    @apply block text-[1.875rem] my-7.5 leading-tight tracking-[-0.02rem];
  }
  & h5 {
    @apply block text-[1.5rem] my-6 leading-tight tracking-[-0.02rem];
  }
  & .intro {
    @apply block text-[1.5rem] my-7.5 leading-tight tracking-[-0.02rem] text-qreen;
  }
  & .tag {
    @apply block text-[1rem] uppercase leading-normal tracking-[0.04rem] mb-2.5;
  }
  & .indent_left {
    @apply relative block left-[1.88rem] w-[calc(100%-1.88rem)];
  }
  & :has(>.tag)+p {
    @apply mt-0;
  }
  & p {
    @apply text-lg my-7.5 leading-[1.4];
  }
  & .small, & p .small {
    @apply text-base my-[0.975rem];
  }
  & .xsmall, & p .xsmall {
    @apply text-sm my-3;
  }
  & blockquote {
    @apply my-7.5;
    @apply text-lg text-qreen-dark italic;
    @apply leading-[1.4];
    @apply border-l border-qreen-dark/20 pl-4;
  }
  & ul {
    @apply my-7.5 list-disc ml-4;
  }
  & ol {
    @apply my-7.5;
  }
  & li {
    @apply my-3 text-lg;
    & > p {
      @apply my-0;
    }
    &.small {
      @apply text-base;
    }
  }
  & a {
    @apply underline;
  }
  & a span.link_arrow {
    @apply relative inline-flex items-center gap-1;
    @apply hover:text-qreen-dark;
    
    &:after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 18' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' aria-hidden='true'%3E%3Cpath d='M7 7h10v10'%3E%3C/path%3E%3Cpath d='M7 17 17 7'%3E%3C/path%3E%3C/svg%3E");
      @apply inline-block h-full w-auto;
    }
  }
  & table {
    @apply my-7.5 w-full;
  }
  & table th, & table td {
    @apply p-4;
    & p {
      @apply my-0;
    }
  }
  & table th {
    @apply  text-qlack text-left font-medium;
  }
  & table tr:has(th) {
    @apply border-b-2 border-dashed border-qreen-dark;
  }
  & table td {
    @apply bg-qaupe;
  }
  & table tr:nth-child(odd) td {
    @apply bg-qreen/10 text-qreen-dark;
  }
}
.summary {
  @apply pb-12 border-b border-qreen;
  & p {
    @apply line-clamp-3;
  }
}

.prose.prose_article {
  & h2 {
    @apply block text-2xl font-normal my-7.5 leading-none tracking-[-0.07125rem];
  }
  & h3, & .h3size {
    @apply block text-xl font-normal my-7.5 leading-none tracking-[-0.035rem];
  }
  & h4, & .h4size {
    @apply block text-[1.5rem] font-normal my-7.5 leading-none tracking-[-0.07125rem];
  }
}