@import 'tailwindcss';

@theme {
  --color-qreen: #7bbd40;
  --color-qreen-dark: #3c772b;
  --color-qlack: #11160c;
  --color-qellow: #ebfe56;
  --color-qeal: #4ca79e;
  --color-qitrus: #f1b355;
  --color-qrose: #e27a96;
  --color-qaupe: #fcfaf0;

  --spacing-container: 5rem;
  
  --breakpoint-md: 768px;
  --breakpoint-xl: 1440px;
  --container-maxw: var(--breakpoint-xl);

  @keyframes appearText {
    from {
      opacity: 0;
      transform: translateY(1em);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes animatedCircle {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }

  @keyframes scalePulse {
    0% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1.1);
    }
  }

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
  
  --animate-appear-text: appearText 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  --animate-animated-circle: animatedCircle 15s linear infinite forwards;
  --animate-scale-pulse: scalePulse 1s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
  --animate-scale-pulse-slow: scalePulse 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
  --animate-scale-pulse-slower: scalePulse 2s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
  --animate-fade-in: fadeInAnimation 0.5s ease-in-out forwards;
}

html {
  --mouseXdelta: 0;
  --mouseYdelta: 0;
  @apply text-qlack bg-qaupe;
  /* font-size: clamp(10px, 1.11vw, 160px); */
  scroll-behavior: smooth;
}
@media (max-width: 768px) {
  /* html {
    font-size: clamp(10px, 4.1vw, 160px);
  } */
  :root {
    --spacing-container: 1.5rem;
  }
}

/* Show scrollbar track and thumb always */
.force-scrollbar {
  scrollbar-width: auto; /* Firefox */
  scrollbar-color: auto;

  /* For WebKit browsers */
  &::-webkit-scrollbar {
    display: block;
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-qaupe);
    border-radius: 9999px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-qreen-dark);
    border-radius: 9999px;
    width: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-qreen);
  }
}

.ProseMirror {
  &:focus {
    @apply outline-hidden;
  }
  & h2 {
    @apply text-2xl font-bold my-4;
  }
  & h3 {
    @apply text-xl font-bold my-3;
  }
  & p {
    @apply my-2;
  }
}

p a {
  @apply underline;
}

/* Form Global Defaults */
.form {
  & label {
    @apply block mb-2 text-sm;
  }
  & label > p {
    @apply mb-1 text-sm text-qlack font-bold;
  }
  & label > p + input + p {
    @apply mb-1 text-sm text-qlack font-normal italic;
  }
  & input[type="text"], 
  & input[type="email"], 
  & input[type="number"], 
  & input[type="date"], 
  & input[type="tel"], 
  & input[type="url"], 
  & input[type="password"], 
  & select,
  & textarea {
    @apply bg-qreen/15 text-qlack rounded-lg text-[16px] md:text-xl disabled:opacity-50 disabled:cursor-not-allowed w-full p-4 px-5 placeholder:text-qlack/30 focus:shadow-lg focus:outline-hidden transition-all;
  }
  & input[type="checkbox"] {
    @apply w-4 h-4;
    
    &:checked {
      @apply bg-white border-transparent;
    }
  }
  & select {
    @apply appearance-none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
  }
}

.prose {
  & > *:first-child, & > *:first-child > .h1size, 
  & > *:first-child > .h2size, 
  & > *:first-child > .h3size, 
  & > *:first-child > .tag {
    @apply mt-0;
  }
  & h1:has(>.h1size), & h1:has(>.h2size), & h1:has(>.h3size), & h1:has(>.tag),
  & h2:has(>.h1size), & h2:has(>.h2size), & h2:has(>.h3size), & h2:has(>.tag),
  & h3:has(>.h1size), & h3:has(>.h2size), & h3:has(>.h3size), & h3:has(>.tag) {
    @apply my-0;
  } 
  & h1, & .h1size {
    @apply block text-6xl font-[400] my-[1.875rem] leading-none;
  }
  & h2, & .h2size {
    @apply block text-4xl font-[400] my-[1.875rem] leading-none;
  }
  & h3, & .h3size {
    @apply block text-[2.375rem] font-[400] my-[1.875rem] leading-none tracking-[-0.07125rem];
  }
  & .tag {
    @apply block text-[1rem] uppercase leading-normal tracking-[0.04rem] mb-[0.625rem];
  }
  & .indent_left {
    @apply relative left-[1.88rem] w-[calc(100%-1.88rem)];
  }
  & :has(>.tag)+p {
    @apply mt-0;
  }
  & p {
    @apply text-lg my-[1.875rem] leading-[1.4];

    &.small {
      @apply text-base my-[0.975rem];
    }
  }
  & blockquote {
    @apply my-[1.875rem];
    @apply text-lg;
    @apply leading-[140%];
    @apply border-l-4 border-qlack pl-4;
  }
  & ul {
    @apply my-[1.875rem] list-disc ml-4;
  }
  & ol {
    @apply my-[1.875rem];
  }
  & li {
    @apply my-[0.75rem] text-lg;
    &.small {
      @apply text-base;
    }
  }
  & a {
    @apply underline;
  }
}

.prose.prose_article {
  & h2 {
    @apply block text-2xl font-[400] my-[1.875rem] leading-none tracking-[-0.07125rem];
  }
  & h3, & .h3size {
    @apply block text-xl font-[400] my-[1.875rem] leading-none tracking-[-0.07125rem];
  }
}